<div id="left-col" class="pull-left">
  <div class="tagline">Welcome</div>
</div>

<div id="right-col" class="pull-right">
  <ul class="well">
    <% @properties.reverse.each do |property| %>
      <li><%= link_to image_tag(property.image.url(:medium)), property_path(property) %></li>
    <% end %>
  </ul>
</div>
