<div id="left-col" class="">
  <div class="welcome">Welcome to <br/>Cloud B &amp; B</div>
</div>

<div class="film-strip">
  <h2>Recent Listings</h2>
  <ul>
  <% @properties.reverse.each do |property| %>
    <span><%= link_to image_tag(property.image.url(:medium)), property_path(property) %><h4><%=property.name%></h4><p><%=property.description%></p></span>
  <% end %>
  </ul>
</div>
