body {
  background-color: #F1E3AD;
}

#right-col {
  padding: 30px;
}

.navbar {
  padding: 10px;
  line-height: 40px;
}

.navbar a {
  color: black;
}

.logo a {
  font-size: 40px;
  font-family: 'Oleo Script', cursive;
  text-decoration: none;
}

.welcome {
  font-family: 'Oleo Script', cursive;
  font-size: 80px;
}


.unclickable {
  color: lightgray;
}

.clickable:hover {
  cursor: pointer;
}

#start_month_left_arrow:hover {
  cursor: pointer;
}

#start_month_right_arrow:hover {
  cursor: pointer;
}

#end_left_arrow:hover {
  cursor: pointer;
}

#end_right_arrow:hover {
  cursor: pointer;
}


table {
  width: 160px;
}

.active_date {
  background-color: rgba(0,0,200,.3);
}
 .panel {
  width: 170px;
 }

 .calendar {
  width: 160px;
  margin-left: 5px;
 }

.panel h4 {
  text-align: center;
}

.date-choice div.panel {
  display: inline-block;
}

.gen-info {
  background-color: rgba(89, 192, 174, .8);
  border-radius: 20px;
  color: #101E3D;
  padding: 10px;
}

#rental-form {
  display: none;
}

#see-rental-form {
  margin: 10px;
}

.film-strip {
  margin:10px;
  padding: 10px;
  overflow-y: hidden;
  position: fixed;
  left: 0;
  background-color: rgba(241, 77, 74, .8);
  border-radius: 10px;
}

.film-strip ul{
  width: 200%;
  margin:0;
  padding:0;
  list-style:none;
}

.film-strip img {/* < Add a min-width if needed */
  padding:10px 100px;
  text-align:center;
  vertical-align:middle;
}

.film-strip a {
  border:0;
  display:inline-block;
  margin:0px auto;

}

.film-strip span {
  text-align: center;
  border:0;
  display:inline-block;
  margin:0px auto;
  border-radius: 5px;
  padding: 5px;
  height: 90%;
}
