body {
  background-color: #F1E3AD;
}

.navbar {
  padding: 10px;
  line-height: 40px;
}

.navbar a {
  color: black;
}

.logo a {
  font-size: 40px;
  font-family: 'Oleo Script', cursive;
  text-decoration: none;
}

.tagline {
  font-family: 'Oleo Script', cursive;
  font-size: 60px;
}

.well {
  list-style-type: none;
}

.unclickable {
  color: lightgray;
}

.clickable:hover {
  cursor: pointer;
}

table {
  width: 160px;
}

.active_date {
  background-color: rgba(0,0,200,.3);
}

.panel {
  width: 170px;
}

.calendar {
  width: 160px;
  margin-left: 5px;
}

.panel h4 {
  text-align: center;
}

.date-choice div.panel {
  display: inline-block;
}

.gen-info {
  background-color: rgba(89, 192, 174, .8);
  border-radius: 20px;
  color: #101E3D;
  padding: 10px;
}

#rental-form {
  display: none;
}

#see-rental-form {
  margin: 10px;
}


.col-heading {
  text-align: center;
}
