body {

}

#right-col {
  padding: 30px;
}

.navbar {
  padding: 10px;
  line-height: 40px;
}

.navbar a {
  color: black;
}

.logo a {
  font-size: 40px;
  font-family: 'Oleo Script', cursive;
  text-decoration: none;
}

.welcome {
  font-family: 'Oleo Script', cursive;
  font-size: 80px;
}

.calendar {
  width: 147px;
  height: 147px;

  border-style: solid;
  border-width: 1px;
}

.unclickable {
  color: gray;
}

.active_date {
  background-color: rgba(0,0,200,.3);
}
