body {
  background-color: #F1E3AD;
}

#right-col {
  padding: 30px;
}

.navbar {
  padding: 10px;
  line-height: 40px;
}

.navbar a {
  color: black;
}

.logo a {
  font-size: 40px;
  font-family: 'Oleo Script', cursive;
  text-decoration: none;
}

.welcome {
  font-family: 'Oleo Script', cursive;
  font-size: 80px;
}


.unclickable {
  color: lightgray;
}

table {
  width: 160px;
}

.active_date {
  background-color: rgba(0,0,200,.3);
}
 .panel {
  width: 170px;
 }

 .calendar {
  width: 160px;
  margin-left: 5px;
 }

.panel h4 {
  text-align: center;
}

.date-choice div.panel {
  display: inline-block;
}

.gen-info {
  background-color: rgba(89, 192, 174, .8);
  border-radius: 20px;
  color: #101E3D;
}

#rental-form {
  display: none;
}

#see-rental-form {
  margin: 10px;
}
